@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen bg-white text-slate-900 antialiased;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}